:root {
  --blue-color: #2196f3;
  --blue-color-activ-button: #188ce8;
  --black-color: #000000;
  --basic-dark-color: #212121;
  --header-contact-color: #757575;
  --background-title-footer: #2f303a;
  --white-color: #ffffff;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --footer-button-backgroung-color: #f5f4fa;
  --border-project: #eeeeee;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
.site-nav .nav-link:hover,
.site-nav .nav-link:focus,
.contact-header:hover,
.contact-header:focus,
.contact-footer-adress:hover,
.contact-footer-adress:focus,
.contact-footer-mail:hover,
.contact-footer-mail:focus,
.contact-footer-tel:hover,
.contact-footer-tel:focus {
  color: var(--blue-color);
}
.order-services:hover,
.order-services:focus {
  background-color: var(--blue-color-activ-button);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--basic-dark-color);
  background-color: var(--white-color);
}
header {
  border: 1px solid #ececec;
}
header .container {
  display: flex;
}
.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}

section .b {
  padding-bottom: 0;
}
section {
  padding-bottom: 94px;
  background-color: var(--white-color);
}

.navigation {
  display: flex;
  align-items: center;
}
.logo-up {
  font-family: "Raleway";

  margin-right: 93px;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--black-color);
  text-decoration: none;
  display: block;
}
.blue-web {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--blue-color);
}
.site-nav {
  display: flex;
  text-decoration: none;
}
.nav-link {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--basic-dark-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}
.contact {
  display: flex;
  margin-left: auto;
}
.contact-header {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--header-contact-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact .item {
  margin-left: 50px;
}
.contact .item:first-child {
  margin-right: 0px;
}
.first-section {
  background-color: var(--background-title-footer);
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
}
.business-solutions {
  max-width: ;
  width: 696px;
  margin: 0 auto;

  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-transform: uppercase;
  text-align: center;
}

.order-services {
  margin-top: 30px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 32px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.box-feature {
  width: 270px;
}
.box-feature-hidden {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.feature-list {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-dark-color);
  margin-bottom: 10px;
  margin-top: 0px;
}
.features-detail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-contact-color);
  margin: 0px;
}
.section-two {
  padding-top: 94px;
}
.our-buisness {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--basic-dark-color);
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}
.pictures-our-buisness {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.imag-buisness {
  width: 370px;
}

.section-our-command {
  background-color: var(--footer-button-backgroung-color);
  margin: 0 auto;
  padding: 94px 0;
  text-align: center;
}
.our-command {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--basic-dark-color);
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}
.team-members-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team-members {
  background-color: var(--white-color);
}
.team-members-text {
  padding-bottom: 30px;
  padding-top: 30px;
}
.name-command {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--basic-dark-color);
  margin-bottom: 10px;
  text-align: center;
  margin-top: 0;
}
.profession-command {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-contact-color);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.footer {
  background-color: var(--background-title-footer);

  padding: 60px 0;
}
.logo-down {
  display: inline-block;
  padding-bottom: 20px;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-color);
}
.contact-footer {
  font-style: normal;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0;
}
.contact-footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-color);
  margin-bottom: 9px;
}

.contact-footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--footer-adress-color);
  margin-bottom: 9px;
}
.contact-footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--footer-adress-color);
}
.portfolio {
  padding-top: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 50px;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}
.filter-button {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-weight: 500;
  background-color: var(--footer-button-backgroung-color);
  color: var(--basic-dark-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
}
.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.project-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid var(--border-project);
  border-right: 1px solid var(--border-project);
  border-bottom: 1px solid var(--border-project);
}
.name-project {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--basic-dark-color);
  margin-bottom: 4px;
  margin: 0px;
}
.type-project {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin: 0px;
  color: var(--header-contact-color);
}
