:root {
  --blue-color: #2196F3;
  --blue-color-activ-button: #188CE8;
  --black-color: #000000;
  --basic-dark-color: #212121;
  --header-contact-color: #757575;
  --background-title-footer: #2F303A;
  --white-color: #FFFFFF;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --footer-button-backgroung-color: #F5F4FA;
}
ul {
  list-style: none;
}
.nav-link:hover,
.nav-link:focus,
.contact-header:hover,
.contact-header:focus,
.contact-footer-adress:hover,
.contact-footer-adress:focus, 
.contact-footer-mail:hover,
.contact-footer-mail:focus, 
.contact-footer-tel:hover,
.contact-footer-tel:focus {
  color: var(--blue-color);
}
.order-services:hover,
.order-services:focus {
  background-color: var(--blue-color-activ-button);
}
body {
  font-family: "Roboto", sans-serif;
  color:var(--basic-dark-color); 
  background-color: var(--white-color);
}
.container {
  width: 1200px;
  display: flex;
}
.navigation {
  display: flex;
}

.logo-up {
  font-family: "Raleway";
  height: 31px;
  margin-left: 15px;
  margin-right: 93px;
  margin-top: 25px;
  margin-bottom: 24px;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  color:var(--black-color);
  text-decoration: none;
}
.blue-web {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  color:var(--blue-color);
}
.site-nav {
  width: 281px;
  height: 16px;
  padding-left: 0px;
  justify-content: space-between;
  margin-top: 33px;
  margin-right: 344px;
  display: flex;
  text-decoration: none;

}
.nav-link {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--basic-dark-color)
}
.contact {
  display: flex;
  justify-content: space-between;
  width: 307px;
  height: 16px;
  margin-top: 33px;
  padding-left: 0px;
}
.contact-header {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--header-contact-color);
}

.first-section {
  margin-top: 0px;
  background-color: var(--background-title-footer);
  width: 1600px;
  height: 600px;

}
.business-solutions {
  width: 696px;
  height: 120px;
  margin-left: 452px;
  margin-right: 452px;
  margin-top: 0px;
  padding-top: 200px;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-transform: uppercase;
  text-align:center;
}

.order-services {
  width: 216px;
  height: 50px;
  margin-left: 692px;
  margin-right: 692px;
  border: 0px;
  padding: 0px;
  margin-top: 115px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
}
.visually-hidden {
   position: absolute; white-space: nowrap; width: 1px; height: 1px; overflow: hidden; border: 0; padding: 0; clip: rect(0 0 0 0); clip-path: inset(50%); margin: -1px; 
  }
.feature-list {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-dark-color);
}
.features-detail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-contact-color);
}
.our-buisness {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--basic-dark-color);
}
.section-our-command {
  background-color: var(--footer-button-backgroung-color);
}
.our-command {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--basic-dark-color);
}
.team-members {
  background-color: var(--white-color);
}
.name-command {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--basic-dark-color);
}
.profession-command {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-contact-color);
}
.footer {
  background-color: var(--background-title-footer);
}
.logo-down {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-color);
}

.contact-footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-color);
}

.contact-footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--footer-adress-color);
}
.contact-footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--footer-adress-color);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}
.filter-button {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-weight: 500;
  background-color: var(--footer-button-backgroung-color);
  color: var(--basic-dark-color);
  cursor: pointer;
}
.name-project {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--basic-dark-color);
}
.type-project {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--header-contact-color)
}
.contact-footer {
  font-style: normal;
}